<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICarRentalWCFService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICarRentalWCFService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CarRentalWCFService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarRentalWCFService"
                contract="CarRentalWCFService.ICarRentalWCFService" name="BasicHttpBinding_ICarRentalWCFService" />
            <endpoint address="net.tcp://localhost:8090/CarRentalWCFService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICarRentalWCFService"
                contract="CarRentalWCFService.ICarRentalWCFService" name="NetTcpBinding_ICarRentalWCFService">
                <identity>
                    <userPrincipalName value="LAPTOP-BTCG2JO8\Sonny" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>